@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
body {
  padding: 0px 112px;
}
@media (max-width : 500px) {
  body {
    padding: 0 16px;
  }
}