.link-card-div {
   border-radius: 8px;
   background: #EAECF0;
   display: grid;
   place-items: center;
   padding: 24px 32px;
   transition: all 1s ease-in-out;
}
.link-card-div:hover {
   background: #d0d5dd;
}
.links {
   font-size: 18px;
   font-weight: 500;
   text-decoration: none;
   color: #101828;
}